@font-face {
 font-family: "Roboto";
 src: url("../fonts/roboto.woff") format("woff");
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: "Roboto";
 src: url("../fonts/robotobold.woff") format("woff");
 font-weight: bold;
 font-style: normal;
}
@font-face {
 font-family: "PT Sans";
 src: url("../fonts/robotomedium.woff") format("woff");
 font-weight: 500;
 font-style: normal;
}
body{
  background-color: #849d8f;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color:white;
  font-size: 16px;
  line-height: 18px;
}
a{
  color: white;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
body.catalog{
  width: 100%;
  background-image: url(../img/background.png);
  background-repeat: repeat-x;
}
.background{
  background-image: url(../img/slide-1.png);
  background-repeat: no-repeat;
  background-position: top;
}
.container-shadow{
  margin: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
.wrap{
  width: 1146px;
  margin: 0 auto;
}
.header{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .main-nav{
  width: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          margin-top: 10px;
}
.header .menu{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .logo{
  margin-right: 20px;
}
.header .menu .menu__item{
  margin-right: 30px;
}
.header .login{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 267px;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
            mt10
}
.header .login .icon{
  font-weight: 500;
  background-color: rgba(255,255,255,0.2);
  margin-left: 10px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.header .login .text{
  margin-left: 9px;
}
.header .icon.input{
  padding: 8px 16px 8px 21px;
}
.header .icon.basket{
  padding: 8px 30px 8px 21px;
}
.header .icon.search{
  border-radius: 50%;
  padding: 10px 9px 3px;
}
.header .sign-nav{
  position: relative;
}
.header .sign-nav .address .small{
  font-size: 14px;
  line-height: 16px;
  margin-bottom: -15px;
}
.header .sign-nav .address{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 22px;
  line-height: 24px;
  position: absolute;
  right: 0;
  bottom: -85px;
  z-index: 1;
}
.main .slider{
  /* position: relative;
  top: -70px;
  left: 5%; */
  padding-top: 320px;
}
.text__container{
  /* position: absolute;
  top: 45%;
  left: 17%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}
.main .slider .text{
  font-size: 60px;
  line-height: 60px;

}
.main .slider .button{
  margin-top: 35px;
  padding: 10px 45px 12px;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-shadow: 1px 1px 2px #a0200b, 0 0 0.1px black;
  background: linear-gradient(180deg, #f26843, #e74b36);
  border-radius: 35px;
  box-shadow: 0 2px 2px 0 #ac1000;
}
.slide-2,
.slide-3{
  display: none;
}
.main .sale{
  margin-top: 40px;
  margin-bottom: 35px;
  /* position: relative; */
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  /* bottom: 300px; */
}
.sale .sale-1,
.sale .sale-2{
  box-sizing: border-box;
  padding: 15px 20px 36px;
  width: 560px;
}
.sale .title{
  font-size: 35px;
  line-height: 41px;
  margin: 0;
}
.sale .discription{
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}
.sale .sale-1{
  background-image: url(../img/malina.png);
  background-repeat: no-repeat;
}
.sale .sale-2{
  background-image: url(../img/chocolate.png);
  background-repeat: no-repeat;
}
.sale .button{
  padding: 11px 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-right: auto;
  margin-top:0px;
  display: inline-block;
  margin-left: 320px;
  text-shadow: 1px 1px 2px #a0200b, 0 0 0.1px black;
  background: linear-gradient(180deg, #f26843, #e74b36);
  border-radius: 35px;
  box-shadow: 0 2px 2px 0 #ac1000;
}
.sale .sale-1 .button{
  margin-left: 350px;
}
.product-line{
  /* position: relative; */
    /* top: -260px; */
}
.product.hit::before{
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  background-image: url(../img/hit.svg);
  left: 10px;
}
.product-line .list{
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product-line .list .product{
  /* padding: 10px; */
  width: 267px;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.product-line.catalog .product{
  padding: 0px;
  margin-top: 35px;
}
.product-line .price{
  font-size: 45px;
  line-height: 45px;
  position: absolute;
      top: 165px;
      left: 11px;
      text-shadow: 1px 1px 3px rgba(49,50,53,.5);
}
.product-line .discription{
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 3;
  padding-left: 10px;
}
.product-line .discription:hover{
  color:#ee5c3e;
  border-color: transparent;
}
.product-line .discription__text{
  z-index: 3;
  text-align: center;
}
.product-line .price .slow{
  font-size: 30px !important;
}

.product-line .hover{
  display: none;
  height: 407px;
  width: 293px;
  position: absolute;
  top: -10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  -webkit-box-shadow: 0px 9px 22px -3px rgba(0,0,0,0.58);
-moz-box-shadow: 0px 9px 22px -3px rgba(0,0,0,0.58);
box-shadow: 0px 9px 22px -3px rgba(0,0,0,0.58);
  z-index: 1;
  padding-top: 10px;
}
.product:hover .hover{
  display: block;
}
.product-line .hover .button{
  border: none;
  color: white;
  padding: 11px 13px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-left: 40px;
  margin-top: 340px;
  display: inline-block;
  /* text-shadow: 1px 1px 2px #a0200b, 0 0 0.1px black; */
  background: linear-gradient(180deg, #f26843, #e74b36);
  border-radius: 35px;
  box-shadow: 0 2px 2px 0 #ac1000;
  display: none;
  margin-bottom: 20px;
  z-index: 1;
  cursor: pointer;
}
.product-line .product:hover  .button{
  display: inline-block;
}
.about-us{
  color:#323232;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: url(../img/vaflya.png);
  border-radius: 5px;
  padding: 30px;
  box-sizing: border-box;
  /* position: relative; */
  /* top: -250px; */
  z-index: -1;

}
.about-us .list-info{
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
}

.about-us .list__item{
  width: 543px;
  position: relative;
}
.about-us .list__item::before{
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  top: 9px;
  left: 8px;
}
.about-us .ice-cream::before{
  background-image: url(../img/icon-icecream.svg);
}
.about-us .cow::before{
  background-image: url(../img/icon-cow.svg);
}
.about-us .list::before{
  background-image: url(../img/icon-list.svg);
}
.about-us .temp::before{
  background-image: url(../img/icon-temp.svg);
}
.about-us .title{
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}
.about-us .info{
  font-size: 16px;
  line-height: 22px;
  padding-left: 65px;
}
.news-write-us{
  /* position: relative; */
  /* top: -210px; */
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}
.news-write-us .news{
  width: 560px;
  background-image: url(../img/article.png);
  background-repeat: no-repeat;
  padding: 20px 20px 73px;
}
.news-write-us .news .text{
  font-weight: bold;
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  border-bottom: 2px solid #323232;
}
.news-write-us .news .text:hover{
  color:#ee5c3e;
  border-color: transparent;
}
.news .title{
  color: #323232;
  line-height: 22px;
  margin: 0;
  margin-bottom: 15px;
}
.news-write-us .write-us{
  position: relative;
  width: 565px;
  border-radius: 16px;
  color: #5a5a5a;
  z-index: 0;
  background-image: -webkit-repeating-linear-gradient(315deg,#f8f7f4 0,#f8f7f4 7px,#92cdff 7px,#92cdff 14px,#f8f7f4 14px,#f8f7f4 21px,#fe9e90 21px,#fe9e90 28px);
  padding: 35px 25px 30px;
  box-sizing: border-box;
}
.news-write-us .write-us::before{
  position: absolute;
content: "";
display: table;
top: 5px;
left: 5px;
z-index: 2;
width: calc(100% - 10px);
height: 210px;
border-radius: 16px;
background-color: #f8f7f4;
z-index: -1;
}
.news-write-us .write-us .text{
  z-index: 2;
  margin-bottom: 30px;
}
.write-us .mail{
  box-sizing: border-box;
  padding: 14px 15px;
  width: 365px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  margin-right: 8px;
}
.write-us .button{
  cursor: pointer;
  font-size: 18px;
  line-height: 24px;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 8px 18px 10px;
  background: linear-gradient(180deg, #f26843, #e74b36);
  box-shadow: 0 2px 2px 0 #ac1000;
font-weight: bold;
}
.map{
  position: relative;
  /* top: -170px; */
}
.map .container__form{
  color: #323232;
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 302px;
  padding: 15px 25px 30px;
  background-color: #fdfefe;
  border-radius: 15px;
  top: 65px;
  right: 23px;
}
.container__form .text{
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}
.container__form .text .big{
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 3px;
  font-weight: bold !important;
  font-size: 18px !important;
  line-height: 24px !important;
}
.container__form .button{
  color: white;
  font-size: 18px;
  line-height: 24px;
  padding: 11px 25px 14px;
  border-radius: 25px;
  border:none;
  background: linear-gradient(180deg, #f26843, #e74b36);
  box-shadow: 0 2px 2px 0 #ac1000;
font-weight: bold;
margin-top: 20px;
cursor: pointer;
}
.footer{
  margin-top: 35px;
  margin-bottom: 30px;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer .feedback{
  width: 190px;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
}
.feedback .icon{
  fill-opacity: 0.8;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.feedback .icon:hover,
.feedback .icon:focus{
  fill-opacity: 1;
  border-color: rgba(255, 255, 255, 0.7);
}
.footer .icon:active{
  opacity: 0.5;
}
.footer .menu{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5px;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}
.footer .menu .help{
  font-weight: bold;
  position: relative;
}
.footer .menu .help::before{
  content: "";
  position: absolute;
  width: 15px;
  height: 13px;
  background-image: url(../img/heart.svg);
  left: -20px;
  bottom: 1px;
}
.footer .menu .link{
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.footer .menu .link:hover,
.footer .menu .link:focus{
  color: #ee5c3e;
  border-color: #ee5c3e;
}
.footer .menu .link.help:hover::before{
  background-image: url(../img/heart-hover.svg);
}
.footer .menu .link:active{
  opacity: 0.8;
}
.footer .mysik{
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  opacity: 0.8;
  margin-left: 80px;
}
.footer .mysik:hover,
.footer .mysik:focus{
  opacity: 1;
}
.footer .mysik:active{
  opacity: 0.5;
}
.button:hover,
.button:focus{
  background: linear-gradient(180deg, #f58669, #ec6f5e) !important;
}
.button:active{
  background-image: linear-gradient(to top,#e1613e,#d74632) !important;
    box-shadow: inset 0 2px 2px 0 #942718 !important;
}

.noindex .bread-crums{
  margin-top: 22px;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.bread-crums .actually{
   font-size: 35px;
   line-height: 41px;
   margin: 0;
   margin-top: 7px;
   margin-bottom: 20px;
}
.bread-crums .list{
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: flex-start;
}
.bread-crums .noactually::after{
  content: "»";
  position: absolute;
  right: -15px;
  top: 1.2px;

}
.bread-crums .link{
  position: relative;
  font-size: 14px;
  line-height: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-right: 22px;
}
.search{
  width: 875px;
}
.search .form{
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: white;
}
.search fieldset{
  border: none;
}
.search legend,
.search .price{
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  margin-left: 10px;
  margin-bottom: 5px;
}
.search .sorted .sort{
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  cursor: pointer;
}
.search .sorted .sort:hover,
.search .sorted .sort:focus{
  background-color: white;
  color: black;
}
.search .for-line{
  width: 220px;
  padding:20px 0px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  margin-top: 10px;
  position: relative;
}
.search .for-line::after{
  content: "";
  position: absolute;
  width: 80%;
  height: 4px;
  left: 22px;
  top: 19px;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 10%, white 11%, white 70%, rgba(255, 255, 255, 0.5) 71%, rgba(255, 255, 255, 0.5) 100%);
}
.search .icon{
  position: absolute;
  background-image: url("../img/range.svg");
  background-repeat: no-repeat;
  width: 22px;
  height: 26px;
}
.search .icon.l{
  top: 9px;
left: 30px;
z-index: 1
}
.search .icon.r{
  top: 9px;
right: 55px;
z-index: 1
}
.search .fatness .container{
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
}
.search .fatness .label{
  margin-right: 38px;
  position: relative;
  cursor: pointer;
}
.search .fatness .label:first-child{
  margin-left:28px;
}
.search .fatness .label:last-child{
  margin-right: 0;
}
.search .fatness .label input{
  appearance:none;
  -webkit-appearance: none;
}
.search .radio__off{
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background-image: url(../img/radio.svg);
  opacity: 0.8;
  top: -1px;
  left: -30px;
}
.search .label:hover .radio__off,
.search .label:focus .radio__off{
  opacity: 1;
}
.search .radio:checked + .radio__off{
  background-image: url(../img/radio-on.svg);
}

.search .fillers .container{
  padding: 11px 15px 11px 47px;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
}
.search .fillers .label{
  position: relative;
  margin-right: 55px;
  cursor: pointer;
}
.search .fillers .label.no{
  margin-right: 0;
}
.search .fillers .checkbox{
  appearance: none;
  -webkit-appearance: none;
}
.search .fillers .iconn{
  position: absolute;
  width: 24px;
  height: 20px;
  background-image: url(../img/checkbox.svg);
  background-repeat: no-repeat;
  opacity: 0.8;
  top: 0;
  left: -30px;
}
.search .fillers label:hover .iconn,
.search .fillers label:focus .iconn{
  opacity: 1;
}
.search .fillers .checkbox:checked + .iconn{
  background-image: url(../img/checkbox-on.svg);
}
.search  .check{
  padding: 8px 16px;
  display:inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  font-size: 16px;
  line-height: 18px;
  color: white;
  border: 2px solid white;
}
.pagination{
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: flex-end;
  font-style: 16px;
  line-height: 18px;
  margin-top: 80px;
  margin-bottom: 30px;
  font-weight: 500;
}
.pagination .list{
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.pagination .link{
  padding: 3px 8px;
  position: relative;
  border-radius: 50%;
}
.pagination .link:hover,
.pagination .link:focus{
  background-color: rgba(255, 255, 255, 0.2);
}
.pagination .link:active{
  background-color: white;
  color: black
}
.pagination .link.active{
  background-color:white;
  color: black;
}
.pagination .icon.l::before,
.pagination .icon.r::after{
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  top: 6px;
}
.pagination .icon.l::before{
  background-image: url(../img/icon-left.svg);
  left: -25px;
  opacity: 0.3;
}
.pagination .icon.r::after{
  background-image: url(../img/icon-right.svg);
  opacity: 1;
  left: 35px;
}

.pagination .list__item{
  margin-right: 13px;
}
.footer.noindex{
  position: relative;
  margin-top: 48px;
}
.footer.noindex::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  top: -20px;
  left: 0;
}
